@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'PlayFairDisplay';
    src: url('./fonts/PlayfairDisplay-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'GtAmerica';
    src: url('./fonts/GT America Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  .playfair {
    font-family: 'PlayFairDisplay';
  }

  .gtamerica {
    font-family: 'GtAmerica';
  }

  h1.blonde-one::before {
    letter-spacing: 10px;
    content: '★★★★★';
    display: block;
    width: 100%;
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  .bg-plants {
    background: url('https://cdn.shopify.com/s/files/1/0253/4355/7737/files/Rewards_1280x.png?v=1635954358'),
      white;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
  }
}
